.main-post{
  max-width: 1200px;
  margin:    0 auto;
  display:   flex;

  &__wrapper {
    padding: 30px 20px;
    background-image: url(/img/bg2.jpg);
    background-size: cover;
  }
  &__info{
    width: 100%;
    height: 452px;
    display: inline-block;
    flex-shrink: 1;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
  }

  &__title{
    &:extend(.title);
    max-width: 478px;
    text-align: left;
  }

  &__description{
    padding: 10px 0;
  }

  p{
    text-indent: 18px;
    text-align: justify;
    font-family: @font-family;
    font-size: @text-size;
    height: auto;
  }
}