.main-post__wrapper
    .main-post
        .main-post__info
            .main-post__title Это праздничный заголовок в две строки!
            .main-post__description Новый год — праздник, наступающий в момент перехода с последнего дня года в первый
                |день следующего года. Отмечается многими народами в соответствии с принятым календарём.
            .main-post__description Обычай праздновать Новый год существовал уже в Древней Месопотамии в третьем тысячелетии до нашей эры
                |[источник не указан 1087 дней]. Начало года с 1 января было установлено римским правителем Юлием
                |Цезарем в 46 году до нашей эры.
        include ../application-form/application-form.pug