.main-post__wrapper
    .main-post
        .main-post__info
            //.main-post__title Это праздничный заголовок в две строки!
            p.
                Для кого-то Новый год это семейный ужин, для кого-то это встреча со старыми
                друзьями, а кто-то хочет увидеть как от встречи с дедом морозом у детей загораются
                глаза и дом наполняется их звонким счастливым смехом! И сколько бы нам небыло лет,
                и где, и скем бы мы не праздновали,нас всех объединяет одно волшебное чувство -
                ожидание новогоднего чуда. Оно загорается искоркой в наших сердцах с детства,кода
                мы первый раз читаем стихотворение Дедушке морозу у горящей множеством огоньков
                новогодней ёлки и больше никогда не гаснет.
            p.
                А ведь это так легко, оформите заказ
                Деда Мороза и Снегурочки и эти добрые персонажи придут к вам прямо из сказки.
                Просто позвоните +7(812)909-96-09 и расскажите, где вы хотите видеть доброго
                Дедушку Мороза? Кого он должен поздравить, кому вручить подарки? Дед Мороз на
                дом, Дед Мороз во двор, Дед Мороз в офис, Дед Мороз на вечеринку – для нас нет
                ничего невозможного! Заказ Деда Мороза гарантирует великолепное настроение и
                взрослым и детям. Наши талантливые актеры проведут конкурсы и викторины,
                закружат вас в танце, споют с вами новогодние песни, они зарядят вас
                позитивом на весь следующий год. Подарите себе праздник, которого вы
                так долго ждали! Сделайте заказ Деда Мороза и забудьте обо всех проблемах,
                ведь Новый год 2017 уже совсем-совсем близко!
        include ../application-form/application-form.pug