.main-header__wrapper
    .main-header
        h1.main-header__title Дед мороз и Снегурочка
    .main-header__date
        span 2
        span 0
        span 1
        span 6

    include ../programms/programms.pug
    include ../main-menu/main-menu.pug