.main-gallery__wrapper
    .main-gallery
        //.main-gallery__title Наши фотографии
        .main-gallery__gallery
            div
                img(src="/img/photo/1.jpg").main-gallery__photo
            div
                img(src="/img/photo/2.jpg").main-gallery__photo
            div
                img(src="/img/photo/3.jpg").main-gallery__photo
            div
                img(src="/img/photo/4.jpg").main-gallery__photo
            div
                img(src="/img/photo/5.jpg").main-gallery__photo
            div
                img(src="/img/photo/6.jpg").main-gallery__photo
