.main-menu__wrapper
    .main-menu
        a(href="#").main-menu__btn.btn.btn--menu О нас
        a(href="#").main-menu__btn.btn.btn--menu Программы
        a(href="#").main-menu__btn.btn.btn--menu Стоимость
        a(href="#").main-menu__btn.btn.btn--menu Отзывы
        a(href="#").main-menu__btn.btn.btn--menu Контакты
