.other-content__wrapper
    .other-content
        h1.other-content__title О НАС
        p.other-content__paragraph.
            Каждый ребенок хочет, чтобы подарок ему вручал настоящий Дед Мороз. А Наш Дед Мороз самый настоящий
            новогодний волшебник! Добрый, веселый, с длинной бородой, в валенках, с посохом и полным мешком подарков!
            Снегурочка же самая веселая и сказочная, в красивом кафтане, с косичками, в белых сапожках, знает много
            загадок и конкурсов!

        span.other-content__noniTitle Несколько причин пригласить Наших Деда Мороза и Снегурочку:

        ul
            li Мы поздравляем детей и взрослых уже более пяти лет и по настоящему любим дарить чудо! Ко многим семьям мы приходим не первый год, что очень важно для маленьких девочек и мальчиков.
            li На фотографиях именно мы и именно в тех костюмах, в которых придем к Вам на праздник! Дед Мороз обязательно в валенках и с посохом, а Снегурочка с косичками и в белых сапожках!
            li Мы разработали много интересных программ для разных возрастов. Много веселых конкурсов и загадок.
            li К каждому у нас индивидуальный подход.
            li Мы ответственно относимся к своей работе: всегда приходим вовремя, и от нас никогда не будет пахнуть сигаретами и, тем более, алкоголем.
            li Приятные цены(указаны в меню группы и на сайте) и акции. Мы работаем без посредников, поэтому наши цены не завышены.
            li Мы гарантируем Вам прекрасное новогоднее настроение и веселый праздник!

        |Cпешите! До Нового года осталось совсем немного! При заказе до декабря - скидка 10%

    img.other-content__img(src="/img/el.jpg")