.programms
    .programms__programm
    a(href="#").programms__name Дед мороз на дом
    a(href="#").programms__name.programms__name--child Дед мороз на утренник
    a(href="#").programms__name.programms__name--parent Дед мороз на корпоратив
