doctype html
html(lang="ru")
    head
        title Лэкс СПБ
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/owl.carousel.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/jquery-1.10.1.min.js")

    body
        include ../main-nav/main-nav.pug
        include ../page-header/page-header.pug
        block content
        include ../page-footer/page-footer.pug
        script(src="js/owl.carousel.min.js")
        script(src="js/myscript.js")
