doctype html
html(lang="ru")
    head
        title ДЕД МОРОЗ И СНЕГУРОЧКА В СПБ! АКЦИЯ! ДО 1.12.16 ЦЕНЫ ПРОШЛОГО ГОДА!
        meta(name="description" content="Опытные артисты, запоминающийся праздник, Приятные цены и конечно же трезвый Дед Мороз без вредных привычек! ")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/owl.carousel.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/jquery-1.10.1.min.js")
    body
        .all_content
            include ../other-header/other-header.pug
            block content
        include ../main-footer/main-footer.pug
        script(src="js/owl.carousel.min.js")
        script(src="js/main_js.js")
