section.application-form
    .application-form__title Регистрация
    label.application-form__label
        span.star Имя
        input.application-form__input(type="text")
        span.star E-mail
        input.application-form__input(type="text")
        span.star Телефон
        input.application-form__input(type="text")
        a.application-form__btn.btn.btn--form(href="javascript:void(0);") Записаться

