.other-menu__wrapper
    .other-menu
        a(href="/").main-menu__btn.btn.btn--menu Главная
        a(href="onas.html").main-menu__btn.btn.btn--menu О нас
        a(href="#").main-menu__btn.btn.btn--menu Программы
        a(href="#").main-menu__btn.btn.btn--menu Стоимость
        a(href="#").main-menu__btn.btn.btn--menu Отзывы
        a(href="#").main-menu__btn.btn.btn--menu Контакты