.main-footer__wrapper
    .main-footer
        include ../main-logo/main-logo.pug
        .main-footer__contacts
            a(href="").main-footer__social-link наша группа в VK
            span.adress М. Владимирская, ул. Правды дом 1
            a.phone(href="tel:+78121234567") +7 (812) 123-45-67
            a.phone(href="tel:+78121234567") +7 (812) 123-45-67