.main-footer__wrapper
    .main-footer
        include ../main-logo/main-logo.pug
        .main-footer__contacts
            a(href="https://vk.com/moroznaelku" target="_blank").main-footer__social-link наша группа в VK
            a.phone(href="tel:+78121234567") +7 (921) 909-96-09