extends blocks/tamplates/maintemplate.pug
block content
        include blocks/main-gallery/main-gallery.pug
        include blocks/main-post/main-post.pug
        include blocks/count-down/count-down.pug

