.other-header__wrapper
    .other-header
        include ../main-logo/main-logo.pug

        .other-header__contacts
            span.phone Телефон:
                 a(href="tel:+78121234567")   +7 (921) 909-96-09

            a.vk(href="https://vk.com/moroznaelku" target="_blank" title="наша группа в VK")

        include ../other-menu/other-menu.pug